<section>
    <h1>Connect</h1>
    <p>
    <a href="http://facebook.com/roadho" target="_blank"><img src="/images/custom/social/Facebook.png" alt="Like us on Facebook" /></a>
    <a href="https://plus.google.com/114184625720675098478" target="_blank" rel="publisher"><img src="/images/custom/social/Google.png" alt="Like us on Google+" /></a>
    <a href="http://twitter.com/roadhomeband" target="_blank"><img src="/images/custom/social/Twitter.png" alt="Follow us on Twitter" /></a>
    <a href="http://soundcloud.com/roadhome" target="_blank"><img src="/images/custom/social/SoundCloud.png" alt="Listen to us on Sound cloud" /></a>
    <p>
</section>
